:host {
    display: flex;
    flex-direction: column;
}

:host /deep/ button {
    background-color: red;
}


:host {
    display: flex;
    flex-direction: column;
}

:host /deep/ button {
    background-color: red;
}
