:host {
    display: flex;
    flex-direction: row;
}

button {
    background-color: red;
}

ul li {
    background-color: blue;
}

/*my-app {*/
    /*diaply: flex;*/
    /*flex-direction: row;*/
/*}*/
