<h1>Hello Angular</h1>

<button (click)="show=!show">Toggle</button>

<!--<div *myDir1="show" *myDir2="show">-->
    <!--Dynamic content-->
<!--</div>-->

<!--<ul>-->
    <!--<li *ngFor="let num of [1,2,3]" *ngIf="num % 2 == 0">-->
        <!--<span>{{num}}</span>-->
    <!--</li>-->
<!--</ul>-->

<ul>
    <ng-template ngFor [ngForOf]="[1,2,3]" let-num>
        <li *ngIf="num % 2 == 0">
            <span>{{num}}</span>
        </li>
    </ng-template>
</ul>

<!--<li ngFor="let num of [1,2,3]" *ngIf="num % 2 == 0">-->
    <!--<span>{{num}}</span>-->
<!--</li>-->
